<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smart_Folder_Renamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Smart_Folder_Renamer.Properties.Settings>
            <setting name="SearchName" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MoveRenamedFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomRenameText" serializeAs="String">
                <value />
            </setting>
        </Smart_Folder_Renamer.Properties.Settings>
    </userSettings>
</configuration>